*.pyc
*.egg-info/
.env
node_modules/
static/
.vscode/
.coverage
.coverage/*
.DS_Store
.cache/
htmlcov/
media/
.tox/
CACHE/
.coverage.*
_trial_temp/
*.pid
/logs/
/docker_volumes/
/junit/
celerybeat-schedule
cloud_functions/deploy_hashes/
